.oil-blue {
    background-color: #418FDE;
}
.oil-red {
    background-color: #e0696e;
}
.oil-red-text {
    color: #e0696e;
}
.page-footer {
    padding-top: 0px;
}
.overlay {
    background-color: rgba(146,177,209,1);
    color: rgba(222,222,222,1);
}
.spinner-center {
    position: absolute;
    left: 40%;
    top: 50%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
